.__bar {
    background: #2b455e;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
    width: 100%;
}

.__bar button {
    background: none;
    border: none;
    margin: 10px;
    font-size: 2rem;
    margin-right: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.__bar p {
    margin-left: 20px;
}

.__bar button:hover {
    cursor: pointer;
}
