body {
    background-color: #1a242e;
    font-family: "Comic Mono", monospace;

    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.light {
    background-color: #fffbeb;
    font-family: "Comic Mono", monospace;

    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    font-weight: bold;

    background: linear-gradient(135deg, #7dcfff, #9effda, #cba6f7);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: -1px;
    line-height: 1.17;
}
#logo.light {
    font-weight: bold;

    background: linear-gradient(135deg, #ebc650, #d4924c, #c26c21);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: -1px;
    line-height: 1.17;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.logo pre {
    margin: 3px;
}
