.cityInput {
    border: 2px solid #7dcfff;
    border-radius: 5px;
    background: none;
    color: #d4efff;
    padding: 5px;
    padding-right: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    margin-left: -70px;
}
.cityInput.light {
    border: 2px solid #302818;
    border-radius: 5px;
    background: none;
    color: #2b2b2b;
    padding: 5px;
    padding-right: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    margin-left: -70px;
}

.form button {
    background-color: #2b455e;
    border: 1px solid #7dcfff;
    border-radius: 7px;
    color: #d4efff;
    padding: 10px 30px;
    margin-right: -70px;
    font-size: 24px;
}

.form button:hover {
    cursor: pointer;
    background-color: #426c8c;
}

.form button.light {
    background-color: #dead4b;
    border: 1px solid #302818;
    border-radius: 7px;
    color: #2b455e;
    padding: 10px 30px;
    margin-right: -70px;
    font-size: 24px;
}

.form button:hover.light {
    cursor: pointer;
    background-color: #f5c567;
}

.card {
    width: 450px;
    max-width: 90vw;

    padding: 16px 20px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;

    border: 3px solid #7dcfff;
    border-radius: 10px;

    background-image: url("images/none.png");

    position: relative;
    overflow: hidden;
}
.card::before {
    content: "";

    position: absolute;
    inset: 0;

    background: rgba(10, 20, 35, 0.55);

    z-index: 0;
}
.card > * {
    position: relative;
    z-index: 1;
}

.card.light {
    width: 450px;
    max-width: 90vw;

    padding: 16px 20px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;

    border: 3px solid #302818;
    border-radius: 10px;

    background-image: url("images/none.png");

    position: relative;
    overflow: hidden;
}
.card.light::before {
    content: "";

    position: absolute;
    inset: 0;

    background: rgba(255, 255, 242, 0.55);

    z-index: 0;
}
.card.light > * {
    position: relative;
    z-index: 1;
}

.sign{
    text-decoration: none;
    color: #abe0ff;
    background-color: #2b455e;
    border-radius: 5px;
    margin: 10px;
    padding: 7px 12px;
}

.sign:hover{
    background-color: #426c8c;
    cursor: pointer;
}

.sign.light{
    text-decoration: none;
    color: #171717;
    background-color: #dead4b;
    border-radius: 5px;
    margin: 10px;
    padding: 7px 12px;
}

.sign:hover.light{
    background-color: #f5c567;
    cursor: pointer;
}