.text {
    font-family: "Comic Mono", monospace;
    font-weight: bold;

    background: #abe0ff;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.text.light {
    font-family: "Comic Mono", monospace;
    font-weight: bold;

    background: #171717;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.button {
    font-family: "Comic Mono", monospace;

    font-weight: bold;
    color: #abe0ff;
}

.button.light {
    font-family: "Comic Mono", monospace;

    font-weight: bold;
    color: #171717;
}

.theme__emoji p {
    color: transparent;
    text-shadow: 0 0 0 #7dcfff;
}

.theme__emoji p.light {
    color: transparent;
    text-shadow: 0 0 0 #c26c21;
}

.temp__emoji p {
    color: transparent;
    text-shadow: 0 0 0 #7dcfff;
}

.temp__emoji p.light {
    color: transparent;
    text-shadow: 0 0 0 #c26c21;
}

.emoji {
    color: transparent;
    text-shadow: 0 0 0 #7dcfff;
}

.emoji.light {
    color: transparent;
    text-shadow: 0 0 0 #c26c21;
}

.hyperlink__block {
    display: flex;
    flex-direction: row;
}

.hyperlink {
    font-family: "Comic Mono", monospace;
    font-weight: bold;

    background: #abe0ff;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.hyperlink.light {
    font-family: "Comic Mono", monospace;
    font-weight: bold;

    background: #171717;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.cityDisplay {
    font-size: 2rem;
    color: #abe0ff;
    margin: 0;
}

.tempDisplay {
    font-size: 2.5rem;
    color: #abe0ff;
    margin: 0;
}

.descDisplay {
    font-style: italic;
    font-size: 0.95rem;
    color: #abe0ff;
    opacity: 0.8;
    margin: 2px 0;
}

.weatherEmoji {
    margin: 0;
    font-size: 3.5rem;
    color: transparent;
    text-shadow: 0 0 0 #7dcfff;
}

.errorDisplay {
    font-size: 16px;
    color: #abe0ff;
}
.humidityDisplay,
.visibilityDisplay,
.feelsLikeDisplay,
.pressureDisplay,
.windSpeedDisplay,
.windDirectionDisplay,
.timeDisplay {
    font-size: 0.9rem;
    color: #abe0ff;
    margin: 2px 0;
}
.cityDisplay.light {
    font-size: 2rem;
    color: #171717;
    margin: 0;
}

.tempDisplay.light {
    font-size: 2.5rem;
    color: #171717;
    margin: 0;
}

.descDisplay.light {
    font-style: italic;
    font-size: 0.95rem;
    color: #171717;
    opacity: 0.8;
    margin: 2px 0;
}

.weatherEmoji.light {
    margin: 0;
    font-size: 3.5rem;
    color: transparent;
    text-shadow: 0 0 0 #171717;
}

.errorDisplay.light {
    font-size: 16px;
    color: #171717;
}
.humidityDisplay.light,
.visibilityDisplay.light,
.feelsLikeDisplay.light,
.pressureDisplay.light,
.windSpeedDisplay.light,
.windDirectionDisplay.light,
.timeDisplay.light {
    font-size: 0.9rem;
    color: #171717;
    margin: 2px 0;
}

.forecastDate {
    margin: 0 0 10px 0;

    font-size: 0.9rem;
    font-weight: bold;

    color: #abe0ff;

    text-align: center;
}

.forecastEmoji {
    margin: 0;

    font-size: 2.5rem;

    color: transparent;
    text-shadow: 0 0 0 #7dcfff;
}

.forecastTemp {
    margin-top: 10px;

    font-size: 0.9rem;
    font-weight: bold;

    color: #abe0ff;

    text-align: center;
}

.forecastDate.light {
    color: #171717;
}

.forecastEmoji.light {
    color: transparent;
    text-shadow: 0 0 0 #c26c21;
}

.forecastTemp.light {
    color: #171717;
}