.text {

    font-family: "Comic Mono", monospace;
    font-weight: bold;

    background: #abe0ff;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.button{
    font-family: "Comic Mono", monospace;

    font-weight: bold;
    color: #abe0ff;
}

.button:hover{
    background-color: #426c8c;
}